{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Localise une adresse et apprends son
                histoire
                avec GrandPy Bot</h2>
            <hr>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="{{ url_for('static', filename='image/grandpa.png') }}"
                         alt="uncle grandpa"
                         class="rounded float-right height-200">
                </div>
                <div class="col-6">
                    {% if current_user.is_anonymous %}
                        <h3>Salut à toi, ô jeune être en recherche !</h3>
                    {% else %}
                        <h3>Salut {{ current_user.username|capitalize() }}
                            !</h3>
                    {% endif %}
                    <p>Mon grand âge m'a donné une longue expérience de la
                        géographie et de l'histoire.</p>
                    <p>Teste donc mes connaissances...</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-6" id="messagerie">
            <span data-image-papi="{{ url_for('static', filename='image/older_man.png') }}"
                    {% if current_user.is_anonymous %}
                  data-image-user="{{ url_for('static', filename='image/user.png') }}"
                    {% else %}
                  data-user-origin="{{ current_user.place_id }}"
                  data-image-user="{{ url_for('static', filename='uploads/' + current_user.photo) }}"
                    {% endif %} ></span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('post_ask') }}" id="messagerie-form">
                <div class="form-row justify-content-center">
                    <div class="col-8">
                        <label class="sr-only" for="ask">ask</label>
                        <input type="text" id="ask" name="ask"
                               class="form-control"
                               placeholder="Exemple: Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"
                               autocomplete="off">
                    </div>
                    <div class="col-auto" id="submit_form">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-6">
            {% if current_user.is_anonymous %}
                <h3>Votre adresse :</h3>
            {% else %}
            {% endif %}
            <div id="result-adress">
                <p>Pour connaître le trajet jusqu'à votre destination avec
                    GrandPy Bot.</p>
                <form action="{{ url_for('index') }}" method="post"
                      id="adress_form">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.street.label }}
                            {{ form.street(class_="form-control") }}
                            {% for error in form.street.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.city.label }}
                            {{ form.city(class_="form-control") }}
                            {% for error in form.city.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.postal_code.label }}
                            {{ form.postal_code(class_="form-control") }}
                            {% for error in form.postal_code.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.countries.label }}
                            {{ form.countries(class_="form-control") }}
                            {% for error in form.countries.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-auto">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}