{% extends "base.html" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>{{ user.username|capitalize() }}</h1>
            <hr>
            <img width="200px" height="200px"
                 src="{{ url_for('static', filename="uploads/" + user.photo) }}"
                 alt="profile image">

            <h1>Éditer mon Profile</h1>
            <form action="{{ url_for('user', username=user.username) }}"
                  method="post"
                  enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.photo.label }}<br>
                    {{ form.photo }}<br>
                    {% for error in form.photo.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class_="btn btn-primary") }}</p>
            </form>

            <h1>Éditer mon adresse</h1>

            <form action="{{ url_for('user', username=user.username) }}" method="post">
                {{ adress_form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ adress_form.street.label }}
                        {{ adress_form.street(class_="form-control") }}
                        {% for error in adress_form.street.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ adress_form.city.label }}
                        {{ adress_form.city(class_="form-control") }}
                        {% for error in adress_form.city.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ adress_form.postal_code.label }}
                        {{ adress_form.postal_code(class_="form-control") }}
                        {% for error in adress_form.postal_code.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ adress_form.countries.label }}
                        {{ adress_form.countries(class_="form-control") }}
                        {% for error in adress_form.countries.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-auto">
                        {{ adress_form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}